<a href="https://colab.research.google.com/github/Vijayreddyalla/Vijay55/blob/main/Python_basics_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Declare a variable called "aid" and asign a value as your name then print the name like "Kiet"
---

In [ ]:
#write your code here

aid="kiet"
print(aid)

kiet

 declare a value to the valrable then print the type of value

In [ ]:
#write your code here

a="3425"
print(type(a))

<class 'str'>

Write a python code using Format Method and "fstrings"

In [ ]:
#write your code here

a="Seshu"
b="CAI"
print(f"I am {a} from {b} branch.")

I am Seshu from CAI branch.

Write a python code using .join() method

Input format:
kiet
Output format:
kkiet

In [ ]:
#write your code here

x = "kiet"
y = list(x)
y.insert(0,'k')
z =''.join(y)

print(z)

kkiet

Write a python code for checking whether the person is eligible for  Vote or Not  using conditionals

In [ ]:
#write your code here

a=int(input("Enter the Age : "))
if (a>=18):
  print("Eligible for vote.")
else:
  print("Not eligible for vote.")

Enter the Age : 22
Eligible for vote.

write simple codes using string methods:

In [ ]:
#any 10 methods
#write your code here


#01
a = "Hello, World!"
b = a.casefold()
print(b)

#02
a = "Hello, World!"
b = a.upper()
print(b)


#03
a = "HELLO WORLD"
b = a.lower()
print(b)


#04
a = "Hello11"
b = a.isalnum()
print(b)


#05
a = "Hello, World!"
b = a.isalpha()
print(b)


#06
a = "89"
b = a.isalnum()
print(b)


#07
a = "222"
b = a.isdecimal()
print(b)


#08
a="hello world"
print(a.capitalize())

#09
a="Hello Wrld"
b = a.split()
print(b)

# 10
a = "     Hello, World!     "
b = a.strip()
print(b)

hello, world!
HELLO, WORLD!
hello world
True
False
True
True
Hello world
['Hello', 'Wrld']
Hello, World!

#DEBUGGING

In [ ]:
a="kiek"
b="kiet"
print("both {} and {} are in same campus".format(a,b))
#output should be like this
#both kiet and kiek are in same campus

both kiek and kiet are in same campus

In [ ]:
a="kiet"
b="kiek"
print("both {} and {} are in same campus".format(a,b))
#both kiet and kiek are in same campus
#correct the output

both kiet and kiek are in same campus

In [ ]:
a=5
b=12
if a==5 and b==12:
  print(a,b)
# correct the code

5 12

In [ ]:
if a%2==0:
   print("a is divisible by 2")

else:
    print("not divisible")

not divisible